# Managed by Ansible (emcomm.station.radio_hw)
name = "{{ item.name }}"
radio = "{{ item.radio }}"
{% if item.ptt is defined %}
ptt = "{{ item.ptt }}"
{% endif %}
{% if item.control is defined %}
control = "{{ item.control }}"
{% endif %}
{% if item.virtual_audio | default(false) %}
virtual_audio = true
{% endif %}
{% for section in ['cat', 'audio'] %}
{% if item[section] is defined %}

[{{ section }}]
{% for key, value in item[section] | dictsort %}
{{ key }} = "{{ value }}"
{% endfor %}
{% endif %}
{% endfor %}
